@charset "UTF-8";

/* CONFIGURAÇÕES - FONTES USADAS */

@font-face {
    font-family: 'Gameflix';
    font-size: normal;
    font-weight: normal;
    src: url('../../Fonts/Bebas_Neue/Arquivos_Fontes/BebasNeue-Regular.ttf') format('truetype');
}

/* VARIÁVEIS - CORES */

:root {
    --Red:#E50914;
    --Gray:#AAAAAA;
    --Black:#141414;
    --White:#FFFFFF; 
    --Green:#22A944;
    --DWhite:#CECECE;
    --RealBlack:#000000;
}

/* CONFIGURAÇÕES - GLOBAIS */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* CONFIGURAÇÕES DE BASE - 280PX */

@media screen and (min-width: 280px) {
    header .container-menu {
        display: block;
        align-items: center;
    }

    .container-menu .gameflix-logo {
        font-size: 0.8em;
        color: var(--Red);
        font-weight: bold;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.300);
        font-family: 'Gameflix', Arial, Helvetica, sans-serif;

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;

        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        
    }
    .menu-bar {
        text-align: center;
        justify-content: center;
    }

    .menu-bar .link-menu {
        font-size: 0.6em;

        color: var(--Gray);
        text-decoration: none;

        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .menu-bar .link-menu:hover {
        color: var(--White);
        transition: .3s ease all;

        padding-top: 0px;
        padding-right: 15px;
        padding-bottom: 0px;
        padding-left: 15px;

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .container-menu .menu-bar-dois {
        font-size: 0.5em;

        text-align: center;
        justify-content: center;

        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: auto;

        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .menu-bar-dois .icon-menu:hover {
        color: var(--White);

        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: auto;

        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
    
        transition: .3s ease all;
    }

    .background-thumb {

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 0px;

        height: 260px;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    
        background-size: cover;
    }

    .principal-game {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .principal-game .principal-title {
        font-size: 0.5em;

        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 5px;
        margin-left: 20px;
    }

    .principal-game .description-game {
        font-size: 0.7em;
        text-align: justify;
        color: var(--Gray);
    
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 3px;
        margin-left: 20px;
    
        width: 60%;
    }

    .classification-game .nota-game {

        font-size: 0.7em;
        color: var(--Green);
        font-weight: bold;
    
        margin-top: 0px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 20px;
    }

    .classification-game .year-game {
        font-size: 0.7em;
        color: var(--Gray);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    }

    .classification-game .console {
        font-size: 0.7em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 5px;
    
        background-color: #3F3F3F;
    
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .classification-game .final-nota {
        font-size: 0.7em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    
        background-color: rgba(63, 63, 63, 0.300);
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border: 1px solid #FFFFFF31;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .buttons-principal {
        display: flex;
        align-items: center;
        flex-direction: row;

        font-size: 0.6em;

        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 20px;

        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .buttons-principal a {
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
    }

    .container-contatos {
        height: 470px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        text-align: center;
    
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 10px;
    
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 40px;
        margin-left: 10px;
    
        list-style: none;
    }
}

/* CONFIGURAÇÕES DE BASE - 300PX */

@media screen and (min-width: 300px) {
    header .container-menu {
        display: block;
        align-items: center;
    }

    .container-menu .gameflix-logo {
        font-size: 1.6em;
        color: var(--Red);
        font-weight: bold;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.300);
        font-family: 'Gameflix', Arial, Helvetica, sans-serif;

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;

        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        
    }
    .menu-bar {
        text-align: center;
        justify-content: center;
    }

    .menu-bar .link-menu {
        color: var(--Gray);
        text-decoration: none;

        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .menu-bar .link-menu:hover {
        color: var(--White);
        transition: .3s ease all;

        padding-top: 0px;
        padding-right: 15px;
        padding-bottom: 0px;
        padding-left: 15px;

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .container-menu .menu-bar-dois {
        font-size: 1.3em;

        text-align: center;
        justify-content: center;

        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: auto;

        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .menu-bar-dois .icon-menu:hover {
        color: var(--White);

        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: auto;

        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
    
        transition: .3s ease all;
    }

    .background-thumb {

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 0px;

        height: 380px;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    
        background-size: cover;
    }

    .principal-game {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .principal-game .principal-title {
        font-size: 0.8em;

        margin-top: 30px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 50px;
    }

    .principal-game .description-game {
        font-size: 1em;
        text-align: justify;
        color: var(--Gray);
    
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 50px;
    
        width: 60%;
    }

    .classification-game .nota-game {

        font-size: 1em;
        color: var(--Green);
        font-weight: bold;
    
        margin-top: 0px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 50px;
    }

    .classification-game .year-game {
        font-size: 1em;
        color: var(--Gray);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    }

    .classification-game .console {
        font-size: 1em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    
        background-color: #3F3F3F;
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .classification-game .final-nota {
        font-size: 1em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    
        background-color: rgba(63, 63, 63, 0.300);
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border: 1px solid #FFFFFF31;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .buttons-principal {
        display: flex;
        align-items: center;
        flex-direction: row;

        font-size: 1em;

        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 50px;
    }

    .container-contatos {
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 10px;
    
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 40px;
        margin-left: 10px;
    
        list-style: none;
    }
    
}

/* CONFIGURAÇÕES DE BASE - 320PX */

@media screen and (min-width: 320px) {
    .container-menu .gameflix-logo {
        font-size: 1em;
        color: var(--Red);
        font-weight: bold;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.300);
        font-family: 'Gameflix', Arial, Helvetica, sans-serif;

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;

        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;

        text-align: center;
        
    }

    .menu-bar .link-menu {
        color: var(--Gray);
        text-decoration: none;

        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;

        font-size: 0.8em;
    }

    .background-thumb {

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 0px;

        height: 320px;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    
        background-size: cover;
    }

    .principal-game .principal-title {
        font-size: 0.5em;

        margin-top: 30px;
        margin-right: 0px;
        margin-bottom: 5px;
        margin-left: 20px;
    }

    .principal-game .description-game {
        font-size: 0.8em;
        text-align: justify;
        color: var(--Gray);
    
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 5px;
        margin-left: 20px;
    
        width: 60%;
    }

    .classification-game .nota-game {

        font-size: 0.8em;
        color: var(--Green);
        font-weight: bold;
    
        margin-top: 0px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 20px;
    }

    .classification-game .year-game {
        font-size: 0.8em;
        color: var(--Gray);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    }

    .classification-game .console {
        font-size: 0.8em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    
        background-color: #3F3F3F;
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .classification-game .final-nota {
        font-size: 0.8em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    
        background-color: rgba(63, 63, 63, 0.300);
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border: 1px solid #FFFFFF31;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .buttons-principal {
        display: flex;
        align-items: center;
        flex-direction: row;

        font-size: 0.7em;

        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 20px;

        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }


    .container-contatos {
        height: 260px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    
        padding-top: 5px;
        padding-right: 0px;
        padding-bottom: 5px;
        padding-left: 5px;
    
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 40px;
        margin-left: 10px;
    
        list-style: none;
    }
}

/* CONFIGURAÇÕES DE BASE - 360PX */

@media screen and (min-width: 360px) {
    .background-thumb {

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 0px;

        height: 320px;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    
        background-size: cover;
    }

    .container-menu .gameflix-logo {
        font-size: 1.3em;
        color: var(--Red);
        font-weight: bold;
        text-align: center;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.300);
        font-family: 'Gameflix', Arial, Helvetica, sans-serif;

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;

        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        
    }

    .menu-bar {
        text-align: center;
        justify-content: center;
    }

    .menu-bar .link-menu {
        color: var(--Gray);
        text-decoration: none;

        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .menu-bar .link-menu:hover {
        color: var(--White);
        transition: .3s ease all;

        padding-top: 0px;
        padding-right: 5px;
        padding-bottom: 0px;
        padding-left: 5px;

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .container-menu .menu-bar-dois {
        font-size: 1em;

        text-align: center;
        justify-content: center;

        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: auto;

        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .menu-bar-dois .icon-menu:hover {
        color: var(--White);

        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: auto;

        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
    
        transition: .3s ease all;
    }

    .principal-game .principal-title {
        font-size: 0.6em;

        margin-top: 30px;
        margin-right: 0px;
        margin-bottom: 5px;
        margin-left: 20px;
    }

    .principal-game .description-game {
        font-size: 0.9em;
        text-align: justify;
        color: var(--Gray);
    
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 5px;
        margin-left: 20px;
    
        width: 60%;
    }

    .classification-game .nota-game {

        font-size: 0.8em;
        color: var(--Green);
        font-weight: bold;
    
        margin-top: 0px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 20px;
    }

    .classification-game .year-game {
        font-size: 0.8em;
        color: var(--Gray);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    }

    .classification-game .console {
        font-size: 0.8em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    
        background-color: #3F3F3F;
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .classification-game .final-nota {
        font-size: 0.8em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    
        background-color: rgba(63, 63, 63, 0.300);
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border: 1px solid #FFFFFF31;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .buttons-principal {
        display: flex;
        align-items: center;
        flex-direction: row;

        font-size: 0.7em;

        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 20px;

        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .container-contatos {
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 10px;
    
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 40px;
        margin-left: 10px;
    
        list-style: none;
    }
}

/* CONFIGURAÇÕES DE BASE - 450PX */

@media screen and (min-width: 450px) {
    .principal-game .principal-title {
        font-size: 0.9em;

        margin-top: 5px;
        margin-right: 0px;
        margin-bottom: 5px;
        margin-left: 50px;
    }

    .buttons-principal a {
        text-decoration: none;
        color: var(--RealBlack);
        font-size: 0.9em;
    
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
    
        background-color: var(--White);
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .classification-game .final-nota {
        font-size: 1.1em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    
        background-color: rgba(63, 63, 63, 0.300);
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border: 1px solid #FFFFFF31;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .principal-game .description-game {
        font-size: 1.1em;
        text-align: justify;
        color: var(--Gray);
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 5px;
        margin-left: 50px;
    
        width: 60%;
    }

    .container-contatos {
        height: 190px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 10px;
    
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 40px;
        margin-left: 10px;
    
        list-style: none;
    }
}

/* CONFIGURAÇÕES DE BASE - 500PX */

@media screen and (min-width: 500px) {
    .principal-game .principal-title {
        font-size: 0.9em;

        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 5px;
        margin-left: 50px;
    }

    .principal-game .description-game {
        font-size: 1.1em;
        text-align: justify;
        color: var(--Gray);
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 50px;
    
        width: 60%;
    }

    .classification-game .nota-game {

        font-size: 1.1em;
        color: var(--Green);
        font-weight: bold;
    
        margin-top: 0px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 50px;
    }

    .classification-game .year-game {
        font-size: 1.1em;
        color: var(--Gray);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    }

    .classification-game .console {
        font-size: 1.1em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    
        background-color: #3F3F3F;
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .classification-game .final-nota {
        font-size: 1.1em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    
        background-color: rgba(63, 63, 63, 0.300);
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border: 1px solid #FFFFFF31;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .buttons-principal a {
        text-decoration: none;
        color: var(--RealBlack);
        font-size: 0.9em;
    
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
    
        background-color: var(--White);
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

/* CONFIGURAÇÕES DE BASE - 512PX */

@media screen and (min-width: 512px) {
    .buttons-principal {
        display: flex;
        align-items: center;
        flex-direction: row;

        font-size: 0.7em;

        margin-top: 3px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 50px;

        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .buttons-principal a {
        padding-top: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
    }
}

/* CONFIGURAÇÕES DE BASE - 540PX */

@media screen and (min-width: 540px) {
    .principal-game .principal-title {
        font-size: 0.6em;

        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 5px;
        margin-left: 50px;
    }

    .principal-game .description-game {
        font-size: 1em;
        text-align: justify;
        color: var(--Gray);
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 50px;
    
        width: 60%;
    }

    .classification-game .nota-game {

        font-size: 1em;
        color: var(--Green);
        font-weight: bold;
    
        margin-top: 0px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 50px;
    }

    .classification-game .year-game {
        font-size: 1em;
        color: var(--Gray);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    }

    .classification-game .console {
        font-size: 1em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    
        background-color: #3F3F3F;
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .classification-game .final-nota {
        font-size: 1;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    
        background-color: rgba(63, 63, 63, 0.300);
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border: 1px solid #FFFFFF31;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .buttons-principal {
        display: flex;
        align-items: center;
        flex-direction: row;

        font-size: 0.7em;

        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 50px;

        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
}

/* CONFIGURAÇÕES DE BASE - 568PX */

@media screen and (min-width: 568px) {
    .principal-game .principal-title {
        font-size: 0.7em;

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 3px;
        margin-left: 30px;
    }

    .principal-game .description-game {
        font-size: 1em;
        text-align: justify;
        color: var(--Gray);
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 30px;
    
        width: 40%;
    }

    .classification-game .nota-game {

        font-size: 1em;
        color: var(--Green);
        font-weight: bold;
    
        margin-top: 0px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 30px;
    }

    .classification-game .year-game {
        font-size: 1em;
        color: var(--Gray);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    }

    .classification-game .console {
        font-size: 1em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    
        background-color: #3F3F3F;
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .classification-game .final-nota {
        font-size: 1em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
    
        background-color: rgba(63, 63, 63, 0.300);
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border: 1px solid #FFFFFF31;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .buttons-principal {
        display: flex;
        align-items: center;
        flex-direction: row;

        font-size: 0.7em;

        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 30px;
    }
}

/* CONFIGURAÇÕES DE BASE - 600PX */

@media screen and (min-width: 600px) {
    .principal-game .principal-title {
        font-size: 0.8em;

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 50px;
    }

    .principal-game .description-game {
        font-size: 1.1em;
        text-align: justify;
        color: var(--Gray);
    
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 50px;
    
        width: 60%;
    }

    .classification-game .nota-game {

        font-size: 1.1em;
        color: var(--Green);
        font-weight: bold;
    
        margin-top: 0px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 50px;
    }

    .classification-game .year-game {
        font-size: 1.1em;
        color: var(--Gray);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    }

    .classification-game .console {
        font-size: 1.1em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    
        background-color: #3F3F3F;
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .classification-game .final-nota {
        font-size: 1.1em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
    
        background-color: rgba(63, 63, 63, 0.300);
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border: 1px solid #FFFFFF31;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

/* CONFIGURAÇÕES DE BASE - 640PX */

@media screen and (min-width: 640px) {
    .principal-game .principal-title {
        font-size: 0.8em;

        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 3px;
        margin-left: 30px;
    }

    .principal-game .description-game {
        font-size: 1.1em;
        text-align: justify;
        color: var(--Gray);
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 30px;
    
        width: 55%;
    }

    .classification-game .nota-game {

        font-size: 1.1em;
        color: var(--Green);
        font-weight: bold;
    
        margin-top: 0px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 30px;
    }

    .classification-game .year-game {
        font-size: 1.1em;
        color: var(--Gray);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    }

    .classification-game .console {
        font-size: 1.1em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    
        background-color: #3F3F3F;
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .classification-game .final-nota {
        font-size: 1.1em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
    
        background-color: rgba(63, 63, 63, 0.300);
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border: 1px solid #FFFFFF31;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .buttons-principal {
        display: flex;
        align-items: center;
        flex-direction: row;

        font-size: 0.8em;

        margin-top: 3px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 30px;
    }
}

/* CONFIGURAÇÕES DE BASE - 700PX */

@media screem and (min-width: 700px) {
    .principal-game .principal-title {
        font-size: 0.8em;

        margin-top: 10px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 50px;
    }

    .principal-game .description-game {
        font-size: 1em;
        text-align: justify;
        color: var(--Gray);
    
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 50px;
    
        width: 60%;
    }

    .classification-game .nota-game {

        font-size: 1em;
        color: var(--Green);
        font-weight: bold;
    
        margin-top: 0px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 50px;
    }

    .classification-game .year-game {
        font-size: 1em;
        color: var(--Gray);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    }

    .classification-game .console {
        font-size: 1em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    
        background-color: #3F3F3F;
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .classification-game .final-nota {
        font-size: 1em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    
        background-color: rgba(63, 63, 63, 0.300);
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border: 1px solid #FFFFFF31;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .buttons-principal {
        display: flex;
        align-items: center;
        flex-direction: row;

        font-size: 1em;

        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 50px;
    }

    .container-contatos {
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 10px;
    
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 40px;
        margin-left: 10px;
    
        list-style: none;
    }
}

/* CONFIGURAÇÕES DE BASE - 717PX */

@media screen and (min-width: 717px) {
    .principal-game .description-game {
        font-size: 1em;
        text-align: justify;
        color: var(--Gray);
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 30px;
    
        width: 40%;
    }
}

/* CONFIGURAÇÕES DE BASE - 720PX */

@media screen and (min-width: 720px) {
    .principal-game .description-game {
        font-size: 1em;
        text-align: justify;
        color: var(--Gray);
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 30px;
    
        width: 40%;
    }
}

/* CONFIGURAÇÕES DE BASE - 731PX */

@media screen and (min-width: 731px) {
    .principal-game .description-game {
        font-size: 1em;
        text-align: justify;
        color: var(--Gray);
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 30px;
    
        width: 40%;
    }
}

/* CONFIGURAÇÕES DE BASE - 760PX */

@media screen and (min-width: 760px) {
    .buttons-principal {
        display: flex;
        align-items: center;
        flex-direction: row;

        font-size: 1em;

        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 50px;
    }
}

/* CONFIGURAÇÕES DE BASE - 823PX */

@media screen and (min-width: 823px) {
    .buttons-principal {
        display: flex;
        align-items: center;
        flex-direction: row;

        font-size: 0.9em;

        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 30px;
    }
}

/* CONFIGURAÇÕES DE BASE - 900PX */

@media screen and (min-width: 900px) {
    .principal-game .principal-title {
        font-size: 0.8em;

        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        margin-left: 50px;
    }

    .principal-game .description-game {
        font-size: 1.3em;
        text-align: justify;
        color: var(--Gray);
    
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 50px;
    
        width: 45%;
    }

    .classification-game .nota-game {

        font-size: 1.2em;
        color: var(--Green);
        font-weight: bold;
    
        margin-top: 0px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 50px;
    }

    .classification-game .year-game {
        font-size: 1.2em;
        color: var(--Gray);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    }

    .classification-game .console {
        font-size: 1.2em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    
        background-color: #3F3F3F;
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .classification-game .final-nota {
        font-size: 1.2em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    
        background-color: rgba(63, 63, 63, 0.300);
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border: 1px solid #FFFFFF31;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .buttons-principal {
        display: flex;
        align-items: center;
        flex-direction: row;

        font-size: 1em;

        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 50px;
    }

    .container-contatos {
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 10px;
    
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 40px;
        margin-left: 10px;
    
        list-style: none;
    }
}
/* CONFIGURAÇÕES DE BASE - 1000PX */

@media screen and (min-width: 1000px) {
    header .container-menu {
        display: flex;
        align-items: center;
        flex-direction: row;
    
        padding-top: 25px;
        padding-right: 50px;
        padding-bottom: 10px;
        padding-left: 40px;
    }
    
    .container-menu .gameflix-logo {
        font-size: 1.6em;
        color: var(--Red);
        font-weight: bold;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.300);
        font-family: 'Gameflix', Arial, Helvetica, sans-serif;
    
        margin-top: 0px;
        margin-right: 50px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    .menu-bar {
        font-size: 1.2em;
    
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .menu-bar .link-menu {
        color: var(--Gray);
        text-decoration: none;
    
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }
    
    .menu-bar .link-menu:hover {
        color: var(--White);
    
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
    
        transition: .3s ease all;
    }
    
    .menu-bar .link-menu:not(:hover) {
        color: var(--Gray);
    
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    
        transition: .3s ease all;
    }
    
    .container-menu .menu-bar-dois {
        font-size: 1.7em;
    
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: auto;
    }
    
    .menu-bar-dois .icon-menu {
        color: var(--Gray);
        text-decoration: none;
    
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }
    
    .menu-bar-dois .icon-menu:hover {
        color: var(--White);
    
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
    
        transition: .3s ease all;
    }
    
    .menu-bar-dois .icon-menu:not(:hover) {
        color: var(--Gray);
    
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    
        transition: .3s ease all;
    }
    
    /* CONFIGURAÇÕES DE BASE - PRINCIPAl */
    
    .background-thumb {
    
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
    
        height: 200%;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgb(0, 0, 0);
        background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.600)300%),
        url(../../Images/Background/Background_FIFA_22.jpg);
    }
    
    .principal-game {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    
        padding-top: 25px;
        padding-right: 50px;
        padding-bottom: 0px;
        padding-left: 40px;

    }
    
    .principal-game .principal-title {
    
        margin-top: 120px;
        margin-right: 10px;
        margin-bottom: 20px;
        margin-left: 50px;
    }
    
    .principal-title h4 {
        font-size: 1.2em;
        font-weight: normal;
    
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 5px;
    }
    
    .principal-title i {
        font-size: 1.3em;
        color: var(--Red);
    
        padding-top: 10px;
        padding-right: 5px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    
    .principal-title .title-game {
        font-size: 5.9em;
    }
    
    .principal-game .description-game {
        font-size: 1.6em;
        text-align: justify;
        color: var(--Gray);
    
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 50px;
    
        width: 45%;
    }
    
    .classification-game {
        display: flex;
        align-items: center;
    }
    
    .classification-game .nota-game {
    
        font-size: 1.4em;
        color: var(--Green);
        font-weight: bold;
    
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 50px;
    }
    
    .classification-game .year-game {
        font-size: 1.5em;
        color: var(--Gray);
        font-weight: normal;
    
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
    }
    
    .classification-game .console {
        font-size: 1.4em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
    
        background-color: #3F3F3F;
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    .classification-game .final-nota {
        font-size: 1.4em;
        color: var(--White);
        font-weight: normal;
    
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
    
        background-color: rgba(63, 63, 63, 0.300);
    
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
    
        border: 1px solid #FFFFFF31;
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    .buttons-principal {
        display: flex;
        align-items: center;
        flex-direction: row;
     
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 50px;
    }
    
    .buttons-principal a {
        text-decoration: none;
        color: var(--RealBlack);
    
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
    
        background-color: var(--White);
    
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    .buttons-principal a:hover {
        color: var(--White);
        background-color: var(--Black);
    
        transition: .3s ease all;
    }
    
    .buttons-principal a:not(:hover) {
        color: var(--RealBlack);
        background-color: var(--White);
    
        transition: .3s ease all;
    }

    .footer-final {
        display: flex;
        flex-direction: column;
    }
    
    .footer-final h1 {
        font-size: 1em;
        color: #5F5F5F;
        font-weight: normal;
    
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 10px;
    
        margin-top: 20px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    
    .container-contatos {
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 10px;
    
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 40px;
        margin-left: 10px;
    
        list-style: none;
    }
    
    .container-contatos li {
        font-size: 0.9em;
    
        padding-top: 5px;
        padding-right: 0px;
        padding-bottom: 5px;
        padding-left: 0px;
    }
    
    .container-contatos a {
        color: #5F5F5F;
        font-size: 0.8em; 
        text-decoration: none;
    
        margin-top: 5px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
        
    }
    
    .container-contatos a:hover {
        text-decoration: underline;
    }
}