@charset "UTF-8";

/* CONFIGURAÇÕES - FONTES USADAS */

@font-face {
    font-family: 'Gameflix';
    font-size: normal;
    font-weight: normal;
    src: url('../../Fonts/Bebas_Neue/Arquivos_Fontes/BebasNeue-Regular.ttf') format('truetype');
}

/* VARIÁVEIS - CORES */

:root {
    --Red:#E50914;
    --Gray:#AAAAAA;
    --Black:#141414;
    --White:#FFFFFF;
    --Green:#22A944;
    --DWhite:#CECECE;
    --RealBlack:#000000;
}

/* CONFIGURAÇÕES - GLOBAIS */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* CONFIGURAÇÕES DE BASE - BODY */

body {
    color: var(--White);
    background-color: var(--RealBlack);
    font-family: Arial, Helvetica, sans-serif;
}

/* CONFIGURAÇÕES DE BASE - MENU */

header .container-menu {
    display: flex;
    align-items: center;
    flex-direction: row;

    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 40px;
}

.container-menu .gameflix-logo {
    font-size: 1.6em;
    color: var(--Red);
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.300);
    font-family: 'Gameflix', Arial, Helvetica, sans-serif;

    margin-top: 0px;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.menu-bar {
    font-size: 1.2em;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.menu-bar .link-menu {
    color: var(--Gray);
    text-decoration: none;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.menu-bar .link-menu:hover {
    color: var(--White);

    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

    transition: .3s ease all;
}

.menu-bar .link-menu:not(:hover) {
    color: var(--Gray);

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    transition: .3s ease all;
}

.container-menu .menu-bar-dois {
    font-size: 1.7em;

    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: auto;
}

.menu-bar-dois .icon-menu {
    color: var(--Gray);
    text-decoration: none;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.menu-bar-dois .icon-menu:hover {
    color: var(--White);

    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

    transition: .3s ease all;
}

.menu-bar-dois .icon-menu:not(:hover) {
    color: var(--Gray);

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    transition: .3s ease all;
}

/* CONFIGURAÇÕES DE BASE - PRINCIPAl */

.background-thumb {

    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;

    height: 200%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.300)300%),
    url(../../Images/Background/Background_FIFA_22.jpg);
}

.principal-game {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 40px;
}

.principal-game .principal-title {

    margin-top: 150px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.principal-title h4 {
    font-size: 1.2em;
    font-weight: normal;

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
}

.principal-title i {
    font-size: 1.3em;
    color: var(--Red);

    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.principal-title .title-game {
    font-size: 3.9em;
}

.principal-game .description-game {
    font-size: 1.6em;
    text-align: justify;
    color: var(--Gray);

    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 50px;

    width: 45%;
}

.classification-game {
    display: flex;
    align-items: center;
}

.classification-game .nota-game {

    font-size: 1.4em;
    color: var(--Green);
    font-weight: bold;

    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.classification-game .year-game {
    font-size: 1.5em;
    color: var(--Gray);
    font-weight: normal;

    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.classification-game .console {
    font-size: 1.4em;
    color: var(--White);
    font-weight: normal;

    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 5px;

    background-color: #3F3F3F;

    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.classification-game .final-nota {
    font-size: 1.4em;
    color: var(--White);
    font-weight: normal;

    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 5px;

    background-color: rgba(63, 63, 63, 0.300);

    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;

    border: 1px solid #FFFFFF31;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.buttons-principal {
    display: flex;
    align-items: center;
    flex-direction: row;
 
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.buttons-principal a {
    text-decoration: none;
    color: var(--RealBlack);

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 0px;

    background-color: var(--White);

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.buttons-principal a:hover {
    color: var(--White);
    background-color: var(--Black);

    transition: .3s ease all;
}

.buttons-principal a:not(:hover) {
    color: var(--RealBlack);
    background-color: var(--White);

    transition: .3s ease all;
}

/* CONFIGURAÇÕES DE BASE - RECOMENDAÇÕES */

.box-game {
    width: 90%;
    height: 90%;

    display: block;

    cursor: pointer;
}

.box-game:hover {

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    transition: .3s ease all;

    background-color: var(--RealBlack);
}

.box-game:not(:hover) {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

    transition: .3s ease all;
}

.carousel-games {
    padding-top: 20px;

    background-color: rgba(63, 63, 63, 0.100);
}

.categorie-title {
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 20px;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    color: var(--White);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.500);
}

.text-sub-game {
    font-weight: normal;
    text-align: center;

    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

/* CONFIGURAÇÃO BASE - CONTATOS */

.footer-final {
    display: flex;
    flex-direction: column;
}

.footer-final h1 {
    font-size: 1em;
    color: #5F5F5F;
    font-weight: normal;

    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 10px;

    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.container-contatos {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 10px;

    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 10px;

    list-style: none;
}

.container-contatos li { 
    font-size: 0.9em;

    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
}

.container-contatos a {
    color: #5F5F5F;
    font-size: 0.8em;
    text-decoration: none;

    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    
}

.container-contatos a:hover {
    text-decoration: underline;
    transition: .3s ease all;
}

.container-contatos a:not(:hover) {
    text-decoration: none;
    transition: .3s ease all;
}